@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'unleash';
    src: url(../font/Unleash.ttf);
}
@font-face {
    font-family: 'baby-school';
    src: url(../font/BabySchoolItalic.ttf);
}
:root{
    --yellow: #F6CF0D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 81.2%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2.8vw;
}
.banner{
    width: 100%;
    height: 51.1vw;
    background: linear-gradient(180deg, rgba(20, 73, 89, 0.88) 0%, rgba(27, 153, 149, 0.88) 37.36%, rgba(27, 153, 149, 0.88) 64%, rgba(20, 73, 89, 0.88) 100%), url(../images/banner.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.logo img{
    filter: brightness(0) invert(1);
    width: 6.5vw;
}
nav ul{
    display: flex;
    gap: 2.48vw;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.31vw;
}

.content_banner{
    padding: 0 9.4vw;
}
.content_banner span{
    font-family: 'baby-school';
    color: var(--yellow);
    font-weight: 400;
    font-size: 2.1vw;
}
.content_banner h1{
    font-family: 'unleash';
    font-size: 6.6vw;
    color:white;
    font-weight: 500;
    line-height: 1;
}